<div>
    <input
        type="checkbox"
        class="toggle"
        checked={{todo.completed}}
        onchange={{action 'toggleCompleted'}}
    >
    <label ondblclick={{action 'startEditing'}}>
        {{todo.title}}
    </label>
    <button
        onclick={{action 'removeTodo'}}
        class="destroy">Remove todo</button>
</div>
<input
    type="text"
    class="edit"
    value={{todo.title}}
    onblur={{action 'doneEditing' value='target.value'}}
    onkeydown={{action 'handleKeydown'}}
    autofocus
>